.category__menu {
  width: 30%;
  background-color: #ffffff;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 60px;
  padding: 10px 20px;
  flex-wrap: wrap;
  border-radius: 6px;
  border: 1px solid #f5f6f6;
}

.category__items {
  background-color: #728370;
  /* border: 1px solid #003d29; */
  color: white;
  flex: 35%;
  padding: 15px 20px;
  margin: 10px;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 4px;
}
