.ProductContainer{
    display: flex;
    flex-direction: column;
    margin: 0px 15px 0px 15px;
  }
  
  .ProductFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .Product{
    margin:20px 20px 5px 20px;
    height: 350px;
    /* border: 2px solid #003d29; */
  }
  
  .ProductButton{
    margin: 0px 40px 0px 40px;
  }
  
  .ImgContainer{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border: 3px solid #003d29;
    border-radius: 30px;
  }
  
  .ProductImg{
    width: 200px;
    height: 200px;
    transition: width 0.3s, height 0.3s ;
  }
  
  .ProductImg:hover{
    width: 210px;
    height: 210px;
  }
  
  .MaxLimit{
    display: flex;
    flex-direction: row;
  }
  
  .MaxLimit div:nth-of-type(1) {flex-grow: 3;}
  
  .OverflowText{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
  }
  
  .ProductNameSize{
    font-size: 15px;
    max-width: 250px;
  }
  
  .TextFont{
    font-family: sans-serif;
    font-weight: 600;
  }

  .Star{
    width: 40px;
    height: 40px;
  }

  .ReviewsFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
  }

  .ReviewsFlex div:nth-of-type(1) {flex-grow: 2;}