input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* css for login page */

.LoginContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "LogoItem FieldItem"
    ;
    
}

.LogoItem{
    grid-area: LogoItem;
}

.FieldItem{
    grid-area: FieldItem;
    padding-bottom: 10vh;
    background-color: 	#b2d4b6;
}

.Logo{
    max-width: 25vw;
}

.FieldLogo{
    max-width: 45vw;
    margin-bottom: 25px;
    display: none;
}


.LogoFlexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    padding: 0px 30px 0px 30px;
}

.FieldFlexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
    padding: 0px 100px 0px 100px;
    margin-top: -50px;
}

.LoginTextField{
    border: 0px;
    margin: 10px 0px 15px 0px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.LoginButton{
    border: 0px;
    padding: 10px;
    background-color: #38503d;
    color: white;
    border-radius: 10px;
    font-weight: 600;
}

.LoginButton:disabled{
    background-color: gray;
}

.LoginButton:hover:enabled{
    background-color: #08200d;
    color: white;
}

.OrSeperator{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.OrDivider{
    border-top: 2px solid #38503d;
    margin: 30px 5px 30px 5px;
    width: 95%;
}

@media only screen and (max-width: 940px){
    .LoginContainer{
        grid-template-columns: 100vw;
        grid-template-rows: 1fr;
        grid-template-areas:
            "FieldItem"
        ;
        margin-top: 1vh;
        min-height: 95vh;
    }

    .FieldFlexbox{
        height: 100%;
        padding: 0px 20vw 0px 20vw;
        margin-top: 50px;
    }

    .LogoItem{
       display: none;
    }

    .FieldLogo{
        display: block;
    }

    .NameFlexbox{
        flex-direction: column;
    }
}

/* css for signup page */

.NameFlexbox{
    display: flex;
    gap: 15px;
}

.LabelAndField{
    display: flex;
    flex-direction: column;
    /* margin-right: 30px; */
    flex-grow: 1;
}

.InputContainer{
    position: relative;
    display: flex;
    flex-direction: row;
}

.PasswordInput{
    flex-grow: 1;
    border: 0px;
    margin: 10px 0px 15px 0px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.PasswordIcon{
    position: absolute;
    right: 20px;
    top: 15px;
    height: 25px;
    width: 25px;
}