.navbar {
  background-color: #b2d4b6;
  display: flex;
  width: 100%;
  padding: 10px 0px;
  height: 5vh;
}

.logo {
  width: 10%;
}

.logo__icon {
  width: 80%;
}

.navbar__items {
  color: #4b514a;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  margin: 0;
  justify-content: space-between;
  flex-grow: 1;
}

.navbar__item {
  padding: 10px 20px;
  /* width: 10%; */
  /* align-items: center;
  justify-content: center; */
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
}

.icon {
  width: 25px;
  padding-right: 5px;
}

.arrow__icon {
  width: 13px;
  padding-left: 5px;
}

.rotated__arrow__icon {
  width: 13px;
  padding-right: 5px;
  transform: rotate(180deg);
}

.icon__text {
  top: -0.3em;
  position: relative;
}

.arrow__text {
  top: -0.1em;
  position: relative;
}

.search__container {
  flex-grow: 2;
}

/* .search {
  background-color: rgb(234, 234, 234);
  border: 1px solid rgb(234, 234, 234);
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  width: 60%;
  height: 100%;
  float: right;
  color: gray;
  text-align: left;
  cursor: pointer;
  justify-content: center;
} */

.search__input {
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  border: none;
  height: 90%;
  border-radius: 50px;
  float: right;
  cursor: pointer;
  margin: auto;
  width: 60%;
  height: 90%;
  color: #4b514a;
}

.search__icon {
  left: -2em;
  width: 20px;
  float: right;
  padding: 5px;
  position: relative;
}
