:root{
    --backgroundColor: #b2d4b6;
    background-color: var(--backgroundColor);
    margin-right: 0px 10px 0px 10px;
}

.PageContainer{
    display: grid;
    grid-auto-flow: column;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.8fr 0.25fr 1fr;
    grid-template-areas: 
        "ProductPath ProductPath ProductPath ProductPath"
        "ProductImage ProductImage ProductDetails ProductDetails"
        "ProductDescription ProductDescription ProductDescription ProductDescription"
        "ProductReviews ProductReviews ProductReviews ProductReviews"
    ;
    background-color: #b2d4b6;
    font-family: "Inter", sans-serif;
}

.ProductPath{
    background-color: white;
    grid-area: ProductPath;
    padding: 5px 0px 0px 40px;
    text-transform: uppercase;
    max-height: 30px;
}

.ProductImage{
    grid-area: ProductImage;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: white;
    width: 45vw;
    height: 45vw;
    margin: 0px 30px 0px 40px;
    margin-top: 80px;
}

.ImageSize{
    width: 30vw;
    height: 30vw;
}

.ProductDetails{
    grid-area: ProductDetails;
    padding-right: 50px;
    height: 50vh;
}

.ProductPath{
    color: darkgray;
}

.CurrentProduct{
    color:black;
    font-weight: 600;
    text-transform: uppercase;
}

.SolidDivider{
    border-top: 3px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.ButtonFlexBox{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.ButtonFlexBox button:nth-of-type(1) {flex-grow: 1;}
.ButtonFlexBox button:nth-of-type(2) {flex-grow: 1;}

.QuantityBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.QuantityBox div{
    margin: 5px;
}

.QuantityBox button{
    padding: 10px;
    width: 100px;
    border: 0px;
    border-radius: 100px;
    background-color: #4b514a;
    color: white;
}

.QuantityBox input{
    padding: 10px;
    width: 100px;
}

.QuantityValue{
    text-align: center;
    border: 0px;
}

.DeliveryBox{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border: 2px solid white;
    padding: 10px 30px 10px 30px;
}

.Icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.DeliveryDivider{
    border-top: 3px solid white;
    width: 100%;
}

.ProductDescription{
    grid-area: ProductDescription;
    background-color: var(--backgroundColor);
    /* margin: 10px 40px 0px 40px; */
    padding: 20px 20px 0px 20px;
}

.ProductReviews{
    grid-area: ProductReviews;
    background-color: #b2d4b6;
    margin-top: 10px;
    padding: 20px 20px 20px 20px;
}

.BuyButton{
    padding: 15px;
    background-color: #4b514a;
    color: white;
    border: 2px solid #c5c5c5;
    text-align: center;
    min-width: 80px;
    border-radius: 100px;
    margin-right: 15px;
}

@media only screen and (max-width: 940px) {
    .PageContainer{
        grid-template-columns: 95vw;
        grid-template-rows: 0.08fr 110vw 0.85fr 0.25fr 1fr;
        grid-template-areas:
            "ProductPath"
            "ProductImage"
            "ProductDetails"
            "ProductDescription"
            "ProductReviews"
        ;
    }

    .ProductImage{
        margin-top: 90px;
        width: 80vw;
        height: 80vw;

    }

    .ImageSize{
        width: 50vw;
        height: 50vw;
    }

    .ProductDetails{
        margin: 1vw 40px 0px 20vw;
        
    }
    
    .ProductDetails > h1 {
        font-size: 7vw;
    }

}